body{
    font-family:'Chilanka', cursive;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: lightgray;

}


/* All text*/


.container {
    width: 80%;
    margin: auto;
    overflow: hidden;

}


header {
    background-color: maroon;
    color: beige;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: blue 4px solid;
}

header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    margin: 0;
    padding: 0;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

 header .current a{
    color: orange;
    font-weight: bold;
}

header a:hover{
    color: grey;
    font-weight: bold;
}

.bokning {
    text-align: center;
    padding: 20px;
}

#showcasestart{
    min-height: 400px;
    background-image: url("lambobil.jpg");
    text-align: center;
    color: white;
}

#showcasestart h2{
    margin-top: 45px;
    font-size: 50px;
    margin-bottom: 10px;
}

#showcasestart p{
    font-size: 20px;
}

/*showcase*/

#newsletter {
    padding: 15px;
    color: white;
    background: maroon;
}
#newsletter div{
    font-size: 30px;
}

#newletter h4{
    float: left;
}

#newsletter form{
    margin-top: 15px;
    float: left;
    
}

footer {
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}


/*-----Olika bilderna-----*/

#showcaseboka{
    min-height: 400px;
    background: url("carstree.jpg")no-repeat;
    text-align: center;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#showcaseboka h2{
    margin-top: 45px;
    font-size: 50px;
    margin-bottom: 10px;
}

.text_input {
    padding: 10px 20px;
    margin-bottom: 2px;
}

.button_boka {
    padding: 15px 32px;
}



#showcaseboka p{
    font-size: 20px;
}

/*-----------------------------------------*/

#showcasepriser{
    min-height: 400px;
    background-image: url("Bilparkering1.jpg");
    text-align: center;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#showcasepriser h2{
    margin-top: 45px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcasepriser p{
    font-size: 20px;
}

table{
    font-family: arial, sansserif;
    border-collapse: collapse;
    width: 60%;
    margin-bottom: 15px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/*----------------------------------------*/

#showcaseomoss{
    min-height: 400px;
    background-image: url("questionmark.jpg");
    text-align: center;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#showcaseomoss h2{
    margin-top: 45px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcaseomoss p{
    font-size: 20px;
}

/*----------------------------------------*/

#showcasekontakt{
    min-height: 400px;
    background-image: url("kontaktaoss.jpg");
    text-align: center;
    color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#showcasekontakt h2{
    margin-top: 45px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcasekontakt p{
    font-size: 20px;
}

#showcaseuppgift{
    min-height: 400px;
    background-image: url("kontaktaoss.jpg");
    text-align: center;
    color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#showcaseuppgift h2{
    margin-top: 45px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcaseuppgift p{
    font-size: 20px;
}