
.header {

background-image: url("Lambo.jpg");
background-size: 100% 100%;
background-repeat: no-repeat;
text-align: center;
font-family:'Chilanka', cursive;
font-size: 40px;
height: 45vh;
color: lightskyblue;

}

.meny li{

list-style-type: none;
font-size: 20px;
width: 18%;
height: 7vh;
float: left;
text-align: center;
border-style: solid;
margin: 7;

}

.text {
    float: left;
    width: 100%;
    height: 60vh;
    background-color: aqua;
    transform: translate(-50, -50);

    
}
.nedre {

   font-size: 20px;
   text-align: center;
   width: 100%;
   height: 15vh;
   
}

